@charset "utf-8";

:root {
  --font-size-footer-btn: 16px;
  --font-size-copyright: 20px;
  --font-size-footer-info: 18px;
  --font-size-company-strong: 30px;
  --font-size-company: 23px;
  --font-size-desc: 30px;
  --font-size-sticky: 18px;  --font-size-header-menu : 18px;
  --font-size-navbar-fix : 18px;
  --font-size-card1-h1 : 35px;
  --font-size-card1-text : 2.5vw; /* 28.28px */
  --font-size-card2-h1 : 30px;
  --font-size-card3-h1 : 35px;
  --font-size-card3-text : 1.6vw; /* 18.0992px */
  --font-size-card3-date : 1.5vw; /* 16.968pxs */
  
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.container {
  width: 1470px;
  margin: 0 auto;
  position: relative;
}

/* card */

.cardWrap{
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  padding: 16px 0;
  box-shadow: 0 0 10px black;
}

.cardWrap .top{
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10.2% 7% 10.2% 10.6%;
    background: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    border-radius: 20px 20px 0 0;
}

.cardWrap span{
    position: absolute;
    color: white;
    box-sizing: border-box;
    z-index: 1;
}

.cardWrap img{
  border-radius: 20px;
}

.swiper3 .cardWrap .card_img img {
  height: 35vh;
  object-fit: cover;
  width: 100%;
}

/* font -  */

body {
  font-family: Pretendard, apple-system, 'Apple SD Gothic Neo', '맑은 고딕', sans-serif;
  /* height: 100%; */
}

.swiper-wrapper2 {
  padding: 60px;
}

.swiper-wrapper2 h3 {
  font-size: var(--font-size-card1-h1);
  padding-bottom: 26px;
}

.card {
  /* width: 240px; */
  /* height: 300px; */

  border: 1px solid black;
  border-radius: 16px;
}

.swiper {
  width: 100%;
  height: calc(100% + 30px);
}

.swiper-button-prev:after, .swiper-button-next:after {
  content: "" !important;
}

.swiper-button-prev, .swiper-button-next {
  width: 50px;
  height: 50px;
}

.swiper-button-prev button, .swiper-button-next button {
  width: 100%;
  height: 100%;
  border: none;
}

#left-button {
  background: url(../images/ico_arr_left_50.png);
  background-size: cover;
}

#right-button {
  background: url(../images/ico_arr_right_50.png); 
  background-size: cover;
}

/* .swiper:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: calc(100% + 30px);
  background-color: #1e1e1e;
  z-index: 2;
} */

.hd {
  /* position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; */
  background: #efe5d9;
}

.hd .hd_inner {
    height: 70px;
    margin: 0 auto;
    padding: 0 80px;
    background: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
}
.hd .hd_maxWd {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 6;
}

.search .btn_search{
  position: absolute;
  top: 0;
  right: 0;
  width: 39px;
  height: 100%;
  background: url(../images/ico_search_25.png) no-repeat left center / 25px auto;
}

.blind{
  display: block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}
.logo {
  display: inline-block;
  position: relative;
  width: 190px;
  vertical-align: top;
  z-index: 1;
}

.logo img {
  width: 100%;
  vertical-align: top;
}

.hd {
  /* position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; */
  background: #efe5d9;
}

.hd .hd_inner {
    height: 70px;
    margin: 0 auto;
    padding: 0 80px;
    background: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
}
.hd .hd_maxWd {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 6;
}

.search .btn_search{
  position: absolute;
  top: 0;
  right: 0;
  width: 39px;
  height: 100%;
  background: url(../images/ico_search_25.png) no-repeat left center / 25px auto;
}

.blind{
  display: block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}
.logo {
  display: inline-block;
  position: relative;
  width: 190px;
  vertical-align: top;
  z-index: 1;
}

img {
  width: 100%;
  vertical-align: top;
}