@charset "utf-8";

:root {
  --font-size-footer-btn: 16px;
  --font-size-copyright: 20px;
  --font-size-footer-info: 18px;
  --font-size-company-strong: 30px;
  --font-size-company: 23px;
  --font-size-desc: 30px;
  --font-size-sticky: 18px;  --font-size-header-menu : 18px;
  --font-size-navbar-fix : 18px;
  --font-size-card1-h1 : 35px;
  --font-size-card1-text : 2.5vw; /* 28.28px */
  --font-size-card2-h1 : 30px;
  --font-size-card3-h1 : 35px;
  --font-size-card3-text : 1.6vw; /* 18.0992px */
  --font-size-card3-date : 1.5vw; /* 16.968pxs */

  --color-main: #ede5da;
  --color-main-11: #ede5da11;
  --color-black: #1e1e1e;
  --color-floating-menu: #8f8f8f;
  
  --container-width: 1470px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none;
}

/* content 슬라이드부분 */
.cardWrap .content-text-Wrap{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  font-weight: 600;
  border-radius: 0 0 20px 20px;
  z-index: 1;
  padding: 4% 11.1% 2.2% 11.1%;
  padding: 5% 5%;
  line-height: 1.41;
  letter-spacing: -0.8px;

}


.cardWrap .content-textWrap .content-date{
    font-size: 1.5vw;
    line-height: 1;
    display: block;
    margin-top: 10px;
}

.swiper .swiper-slide.contents-swiper-slide{
  width: 330px;
  height: 260px;
}


/* font -  */

body {
  font-family: Pretendard, apple-system, 'Apple SD Gothic Neo', '맑은 고딕', sans-serif;
  overflow-x: hidden;
}

.content {
  background: linear-gradient(to bottom, #efe5d9 43.3%, #1e1e1e 0%);
  padding-bottom: 225px;
}

/* Header */
.hd {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, .3);
  transition: background-color 0.3s ease; 
  padding: 0 30px;
}

.hd_inner {
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  position: relative;
  width: 190px;
  vertical-align: top;
  z-index: 1;
}

@media (max-width: 1100px) {
  .hd_inner {
    flex-direction: column;
  }

  .search-bar {
    display: none;
  }
}

.logo a {
  width: 100%;
}

.logo a img {
  width: 100%;
}

.header_gnb > .tog_btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 9px;
  width: 100%;
  height: 100%;
}

.header_gnb > .tog_btn::before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  margin: 0 auto;
  background: #1e1e1e;
}

.header_gnb > .tog_btn::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin: 0 auto;
    background: #1c1d1d;
}

.header_gnb .bar {
  display: block;
  position: relative;
  width: 36px;
  height: 3px;
  margin: 0 auto;
  background: #1e1e1e;
}

.menus ul {
  height: 100%;
  display: flex;
  gap: 64px;
  align-items: center;
}

.menus li {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 160px;
  height: 40px;
  border-radius: 100px;
  border: 2px solid black;
  padding-left: 16px;
  padding-right: 48px;
  background-color: rgba(0, 0, 0, 0);
}

.search-bar input:focus {
  outline: none;
}

.btn_search{
  position: absolute;
  top: 0;
  right: 0;
  width: 39px;
  height: 39px;
  background: url(../images/ico_search_25.png) no-repeat left center / 25px auto;
}

.blind{
  display: block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

.hd_maxWd > .logo {
  padding-left: 87px;
}

.logo img {
  width: 200%;
  /* vertical-align: top; */
}

.header_util {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.header_util .util_list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  column-gap: 87px;
  height: 100%;
}
.util_item a {
  text-decoration: none;
  color: #333; /* Dark color for the text */
  transition: color 0.3s ease;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
}

.util_item a:hover {
  color: #000; /* Darker on hover */
}

.hd .search {
  /* position: relative; */
  margin-left: auto;
}

.search .ip_search {
  width: 160px;
  height: 40px;
  padding: 0 40px 0 14px;
  border: 2px solid #1c1d1d;
  border-radius: 100px;
  box-sizing: border-box;
}
/* 푸터 */

.footer {border-top:2px solid #5f5f5f;background:#1e1e1e}
.footer .logo {width:289px}
.footer .footer_info {position:relative;padding:87px 0 100px 0;border-bottom:2px solid #5f5f5f}
.footer .footer_desc {display:block;margin-bottom:66px;font-weight:700;font-size:30px;line-height:1.45;color:var(--color-wt)}
.footer .footer_company {font-weight:600;font-size:23px;color:#909090}
.footer .footer_company em {font-size:30px}
.footer .info_inner {position:relative}
.footer .info_inner .footer_util {position:absolute;top:13px;right:0}
.footer_util .util_list {display:flex;column-gap:10px}
.footer_util .util_item a {display:flex;align-items:center;justify-content:center;width:80px;height:80px;border-radius:20px;background:#5f5f5f}
.footer_util .util_item a img {width:auto}
.footer .info_item {display:flex;flex-wrap:wrap;gap:16px 4px;margin-top:43px;font-weight:500;font-size:18px;color:#909090}
.footer .info_item .info_ttl:not(:nth-child(3))::before {content:'';display:inline-block;width:2px;height:18px;margin:2px 16px 0 8px;background:#909090;vertical-align:top}
.footer .info_item .blind + .info_txt {width:100%}
.footer .copyright {display:block;margin-top:43px;font-weight:500;font-size:20px;color:#909090}
.footer .footer_menu {display:flex;align-items:center;position:relative;padding:58px 0 80px 0;box-sizing:border-box}
.footer .menu_wrap {margin-left:52px}
.footer .menu_list {display:flex;column-gap:43px;position:relative}
.footer .menu_item :where(a, button) {font-weight:600;font-size:16px;color:#909090;box-sizing:border-box}
.footer .menu_item :where(a, button)::after {content:'';display:inline-block;width:14px;height:14px;margin:4px 0 0 7px;background:url('') no-repeat top left/auto 100%;vertical-align:top}
.footer .menu_item.emphasis :where(a, button) {font-size:18px;color:var(--color-wt)}
.footer .menu_item.emphasis :where(a, button)::after {margin-top:5px;background-position-x:100%}
.footer .menu_item {display:flex;align-items:center;position:relative}
.footer .menu_item .logo {width:289px}
.footer_menu .biz_wrap {position:absolute;top:48px;right:10px;z-index:5}
.footer_menu .biz_wrap .biz_btn {display:flex;align-items:center;justify-content:center;width:240px;height:55px;border:3px solid #7d7d7d;border-radius:30px;background:#1e1e1e;font-weight:600;font-size:18px;color:#7d7d7d;box-sizing:border-box}
.footer_menu .biz_wrap .biz_btn::after {content:'';margin-left:15px;width:9px;height:6px;background:url('../images/ico_arr_up_9.png') no-repeat center/100% auto}
/* .biz_wrap .biz_btn::before {content:'';display:block;position:absolute;top:-10px;left:0;width:100%;height:10px}
.biz_wrap .biz_pos {display:none;position:absolute;bottom:61px;right:0;width:100%;padding:25px 29px 21px 29px;border:3px solid #7d7d7d;border-radius:30px;background:#1e1e1e;box-sizing:border-box}
.biz_wrap .biz_pos .biz_group {display:flex;align-items:center;padding:10px 0 5px 0;font-weight:600;font-size:12px;line-height:1;color:#7d7d7d}
.biz_wrap .biz_pos .biz_group::after {content:'';width:100%;height:1px;margin-left:10px;background:#7d7d7d}
.biz_wrap .biz_pos .biz_item a {font-weight:600;font-size:18px;line-height:1.55555;color:#e9e9e9}
.biz_wrap.active .biz_pos {display:block}
.biz_wrap.active .biz_btn::after {background-image:url('../images/web/icon/ico_arr_down_9.png')} */

/* Visual */
.visual {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
  padding-top: 170px;
}

.visual img {
  width: 100%;
  
}

/* Item */
.item {
  padding-top: 140px;
  width: 90%;
  max-width: var(--container-width);
  margin: 0 auto;
}

.item .title {
  padding-bottom: 2vw;

  font-size: 2.6vw;
  font-weight: bold;
}

.brands-item .title {
  color: white;
}
.contents-item .title {
  color: white;
}

.brands-item {
  margin-bottom: 60px;
}

.main-video {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.sub-video {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.video-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  margin: 0 auto;
  padding-top: 56.2%;
  border-radius: 35px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.05);
  transform: translate3d(0, 15px, 0);
}

.main-video .video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.sub-video .video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* card */
.cardWrap{
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
}
.brands-item .cardWrap{
  display:flex;
  width: 270px;
  height: 430px;
}

.cardWrap span{
  position: absolute;
  color: white;
  box-sizing: border-box;
  z-index: 1;
}

.cardWrap:hover .card_img {
  scale: 1.1;
}

.swiper-slide .card_img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardWrap .top{
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10.2% 7% 10.2% 10.6%;
  background: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  font-size: 1.3vw;
  line-height: 1.41;
  letter-spacing: -0.8px;
}

.cardWrap .brand-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardWrap:hover .brand-card-img{
  scale: 1.1;
}

.cardWrap .brand-card-img{
  transition: all 0.4s;
}

/*  */

.cardWrap .card_img {
  transition: all 0.4s;
}

.cardWrap:hover .card_img {
  scale: 1.1;
}

/* Swiper */
.swiper {
  width: 100%;
  overflow: visible;
}

.swiper .swiper-slide {
  width: 270px;
  margin-right: 30px;
  height: 430px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
  border-radius: 35px;
  overflow: hidden;
}

.swiper-button-prev:after, .swiper-button-next:after {
  content: "" !important;
}

.swiper-button-prev, .swiper-button-next {
  width: 4vw;
  height: 4vw;
  border: none;
}

.swiper-button-prev {
  background: url(../images/ico_arr_left_50.png);
  background-size: cover;
}

.swiper-button-next {
  background: url(../images/ico_arr_right_50.png); 
  background-size: cover;
}

/* .swiper:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: calc(100% + 30px);
  background-color: #1e1e1e;
  z-index: 2;
} */

/* Floating Button */
.floating-btn-wrapper {
  position: fixed;
  right: 25px;
  bottom: 190px;
  z-index: 9999;

  opacity: 0;

  transition: opacity .5s;
}

.floating-btn {
  width: 58px;
  height: 58px;
  border: none;
  background: url(../images/ico_arr_top_58.png) no-repeat;
  background-size: cover;
}

.floating-btn-show {
  opacity: 1;
}

.floating-menu-wrapper {
  position: sticky;
  left: 0;
  bottom: 35px;
  display: flex;
  z-index: 99;
  animation: open-floating-menu-1 .3s;
}

.floating-menu {
  margin: 0 auto;
  padding: 8px 10px;
  background-color: var(--color-floating-menu);
  border-radius: 35px;
}

.floating-menu ul {
  display: flex;
  gap: 8px;
}

.floating-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 50px;
  font-weight: 600;
  font-size: 0px;
  color: white;
  border-radius: 35px;
  transition: all .2s;
  line-height: 50px;
  opacity: 0;

  animation: open-floating-menu-2 .5s .3s forwards;
}

@media (max-width: 960px) {
  .floating-menu li {
    gap: 3vw;
  }
}

.floating-menu li a:hover {
  background-color: black; 
}

.floating-menu li a:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.floating-menu li:nth-child(1) a:before {
  background: url(../images/ico_esg_44.png) no-repeat;
  background-size: cover;
}

.floating-menu li:nth-child(2) a:before {
  background: url(../images/ico_cs_44.png) no-repeat;
  background-size: cover;
}

.floating-menu li:nth-child(3) a:before {
  background: url(../images/ico_recruit_45.png) no-repeat;
  background-size: cover;
}

.floating-menu li:nth-child(2) a {
  background-color: black;
}

/* keyframes */
.show {
  animation: slide-right .75s;
}

@keyframes floating-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes open-floating-menu-1 {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes open-floating-menu-2 {
  from {
    width: 25px;
    opacity: 0;
    font-size: 0;
  }

  to {
    width: 208px;
    opacity: 1;
    font-size: 18px;
  }
}

@media (max-width: 960px) {
  @keyframes open-floating-menu-2 {
    from {
      width: 25px;
      opacity: 0;
      font-size: 0;
    }
  
    to {
      width: 30vw;
      opacity: 1;
      font-size: 3vw;
    }
  }
}